@media (max-width: 1280px) {
    .main-wrapper {
        justify-content: center;
    }

    .page-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .inventory-container {
        flex-direction: row;

        width: 100vmin;
        height: 30vmin;
    }

    .ic__tool-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-self: center;
    }

    .ic__resource-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        gap: 2vmin;
        align-self: flex-end;
    }
}
