* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 0;
    background-color: sandybrown;
}

.game-container {
    width: 100vmin;
    height: 100vmin;

    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background-color: white;
}

.inventory-container {
    /* justify-self: flex-end;
    align-self: flex-end; */
    background-color: #233;
    width: 40vmin;
    height: 100vmin;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tile {
    background-color: skyblue;
}

.tile__image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.sky {
    background-color: skyblue;
}

.cloud {
    background-color: cornsilk;
}

.tree {
    background-image: url('../images/tree.jpg');
}

.trunk {
    background-image: url('../images/trunk.jpg');
}

.rock {
    background-image: url('../images/rock.jpg');
}

.grass {
    background-image: url('../images/grass.jpg');
}

.dirt {
    background-image: url('../images/dirt.jpg');
}

.ic__tool-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5vmin;
    align-self: flex-start;
    margin-left: 5vmin;
}

.ic__resource-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 2vmin;
    align-self: flex-start;
    margin-left: 5vmin;
}

.ic__tool-image {
    cursor: pointer;
    border: 0.5vmin solid #ccc;
    height: 10vmin;
    width: 10vmin;
    background-size: cover;
    background-position: center;
}

.pickaxe {
    background-image: url('../images/pickaxe.png');
}

.shovel {
    background-image: url('../images/shovel.png');
}

.axe {
    background-image: url('../images/axe.png');
}

.ic__resource {
    display: flex;
    justify-content: space-between;
}

.ic__resource-image {
    cursor: pointer;
    height: 6vmin;
    width: 6vmin;
    background-size: cover;
    background-position: center;
}

.ic__resource-counter {
    margin-left: 0.5vmin;
    color: orange;
    align-self: flex-end;
    font-size: 1.5rem;
    font-weight: 600;

    justify-self: flex-end;
}

.ic__button-container {
    justify-self: flex-end;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ic-button {
    line-height: 1.9rem;
    font-size: 1.1rem;
    font-weight: 600;

    margin-bottom: 2vmin;
    padding: 0.08rem;
    width: 10rem;

    border-radius: 0.5rem;
    background-color: black;
    color: white;
}
